.page_404 {
  padding: 40px 0;
  background: #fff;
  font-family: "Arvo", serif;
  text-align: center;
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.page_404__inner {
  width: min(900px, 92vw);
}

.four_zero_four_bg {
  background-image: url(../assets/anime.gif);
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: grid;
  place-items: center;
}

.four_zero_four_bg h1 {
  font-size: 80px;
  margin: 0;
}

.link_404 {
  color: #fff;
  padding: 10px 20px;
  background: #39ac31;
  margin: 20px 0;
  display: inline-block;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
}

.contentBox {
  margin-top: -50px;
}